{% extends 'base.html.twig' %}
{% block body %}
    <div class="form">
        <form method="post">
            <label>Identifiant :</label><input type="email" name="_username">
            <label>Mot de passe :</label><input type="text" name="_password">
            <input type="checkbox" id="remember_me" name="_remember_me" checked/>
            <label for="remember_me">Se souvenir de moi</label>

            <button type="submit" class="btn btn-primary">Connexion</button>
        </form>

    </div>

{% endblock %}