{% extends 'base.html.twig' %}
{% block body %}



    {{ form(formulaire) }}
    <div style="display: inline-flex">
        <form method="post" action="{{ path("modifier_profil") }}">
            <button type="submit">Modifier</button>

        </form>
        <form method="post" action="">

            <button type="submit">Retour</button>
        </form>
    </div>
{% endblock %}