{% extends 'base.html.twig' %}
{% block body %}


    <div style="display: inline-flex">
    {{ form_start(formulaire) }}
    {{ form_widget(formulaire) }}
            <button type="submit">Modifier</button>

    {{ form_end(formulaire) }}
        <form method="post" action="{{ path("accueil") }}">

            <button type="submit">Retour</button>
        </form>
    </div>
{% endblock %}