{% extends 'base.html.twig' %}
{% block body %}

        <div class="mx-auto group-form" style="width: 400px">
            {{ form_start(formulaire) }}


        <div class="group-form">
            {{ form_row(formulaire.mail,{'attr':{'class':'form-control'}})  }}

        </div>
    <div class="group-form">
            {{ form_row(formulaire.mdp.first,{'attr':{'class':'form-control'}})  }}

        </div>
            <div class="group-form">
                {{ form_row(formulaire.mdp.second,{'attr':{'class':'form-control'}})  }}

         <button type="submit" class="btn btn-primary">Modifier</button>
        <button type="button" class="btn btn-primary">Retour</button>

    </div>


    <div class="group-form"></div>



{% endblock %}