h1{

    text-align: center;
    color: white;
}

.footer{
    text-align: center;
    background-color: #5eb5e0;
}

.txt{
    color: white;
}
.form{
    margin-right: 500px;
    margin-left: 300px;
}
body{

}