{% extends "base.html.twig" %}

{% block body %}
<div>
    <div><a href="{{ path("addParticipant") }}">Inscrire un participant</a> </div>
    <div><a href="{{ path("gestionParticipant") }}">Gérer les participants</a> </div>
    <div><a href="{{ path("gestionSortie") }}">Gérer les sorties</a> </div>
    <div><a href="">Gérer les lieux</a> </div>
    <div><a href="">Gérer les sites</a> </div>
</div>



    {% block interface %}

    {% endblock %}

    <a class="btn btn-primary" href="{{ path("accueil") }}">Retour</a>


{% endblock  %}


