<!DOCTYPE html>
<html>{#stephane#}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {{ form_start(sortieForm) }}
            {{ form_widget(sortieForm) }}
            <button type="submit">Publier la Sortie </button>
            <button><a href="/GestionSorties/public">Annuler</a></button>
            <button type="button">Enregistrer</button>
            {{ form_end(sortieForm) }}


        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
