{% block body %}

    <dif>

        <label>Nom de la sortie: </label>
        <label>Date et heure de la sortie: </label>
        <label>Date limite d'inscription: </label>
        <label>Nombre de places: </label>
        <label>Durée :</label>
        <label>Description et infos:</label>
        <label>Lieu: </label>
        <label>Rue: </label>
        <label>Ville: </label>
        <label>Code postal: </label>
        <label>Latitude: </label>
        <label>Longitude: </label>

    </dif>

    
{% endblock %}