{{ form_start(form) }}



<div class="row mx-auto"style="width: 75%">
    <div class="col-4">
        <div class="group-form">{{ form_row(form.motCle) }}</div>
    </div>

    <div class="col-4">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
{{ form_end(form) }}


</div><br>